<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27174392860-ib5gvs9knlqseumjlu7n3vtlg91t4a2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27174392860-ib5gvs9knlqseumjlu7n3vtlg91t4a2f</string>
	<key>API_KEY</key>
	<string>AIzaSyBoZVUB7QTfKP3Xl_OFgGKZZWMNKnlK27A</string>
	<key>GCM_SENDER_ID</key>
	<string>27174392860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>design.bertley.blackjack</string>
	<key>PROJECT_ID</key>
	<string>blackjack-e933f</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjack-e933f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27174392860:ios:9acb8fbc7cdf3f97827bd9</string>
	<key>DATABASE_URL</key>
	<string>https://blackjack-e933f.firebaseio.com</string>
</dict>
</plist>